<div class="edit">

    <div class="userData">
        John Doe
    </div>

    <div class="change">
        <div class="element">
            <div class="label">Quote</div>
            <input type="text">
        </div>
        <div class="element">
            <div class="label">Status</div>
            <input type="text">
        </div>
        <div class="element">
            <div class="label">Birth date</div>
            <input type="date">
        </div>
        <div class="element">
            <div class="label">Ocupation</div>
            <input type="text">
        </div>
    </div>

    <div class="buttons">
        <button [routerLink]="['/friends']" class="btn discard">DISCARD</button>
        <button class="btn update">UPDATE</button>
    </div>
</div>
