<mat-card>
    
    <div class='content'>
        <img src="../../../assets/images/ja.jpg" mat-card-image>
        
        <mat-card-content>
            <mat-card-title>Vladimir Novakovic</mat-card-title>
            <mat-card-subtitle>Creator of this app and a really good guy when you get to know him.</mat-card-subtitle>
            Software developer from Valjevo, Serbia currently located in Novi Sad, Serbia. 
            Student of Faculty of Sciences, University of Novi Sad.<br>
            For last 4 months i have been employed by CAM engeneering to work on project caled NCT (New Comercial Tool) for Credit Agricole Bank. 
            <div class='socm'>
                <a href="https://www.instagram.com/dovla_n/?hl=sr" target="blank">
                    <div  class='media'>
                        <div id="insta"></div>
                        <!-- <span>Instagram</span> -->
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/cupakabra-no1" target="blank">
                    <div class='media'>
                        <div id="linked"></div>
                        <!-- <span>LinkedIn</span> -->
                    </div>
                </a>
                <a href="https://github.com/CupakabraNo1" target="blank">
                    <div class='media'>
                        <div id="git"></div>
                        <!-- <span>GitHub</span> -->
                    </div>
                </a>
            </div>
        </mat-card-content>
    </div>
    
</mat-card>